### IMPORT LIBRARIES & CSV

In [1]:
import pandas as pd
import pymysql

### NORMALIZE DB & SEGMENT TO PROPERLY ENTER INTO TABLES

In [2]:
ello_data = pd.read_csv('nba-elo/nbaallelo.csv')

In [3]:
ello_data['date_game'] = ello_data['date_game'].astype('datetime64[ns]')

In [4]:
ello_data.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,1946-11-01,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,1946-11-01,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,1946-11-02,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,1946-11-02,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,1946-11-02,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [5]:
ello_data.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [6]:
ello_data.shape

(126314, 23)

### FILTER FOR FORECAST TABLE

In [7]:
forecast_data = ello_data[['team_id', 'date_game', 'game_result', 'elo_i', 'elo_n', 'forecast']]

In [8]:
forecast_data['date_game'] = forecast_data['date_game'].astype(str)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
forecast_data.head()

  team_id   date_game game_result      elo_i      elo_n  forecast
0     TRH  1946-11-01           L  1300.0000  1293.2767  0.640065
1     NYK  1946-11-01           W  1300.0000  1306.7233  0.359935
2     CHS  1946-11-02           W  1300.0000  1309.6521  0.631101
3     NYK  1946-11-02           L  1306.7233  1297.0712  0.368899
4     DTF  1946-11-02           L  1300.0000  1279.6189  0.640065

### FILTER FOR GAME TABLE

In [10]:
game_data = ello_data[['game_id', 'date_game', 'team_id', 'game_result', 'pts',
                            'opp_id', 'opp_pts']]

In [11]:
game_data.head()

        game_id  date_game team_id game_result  pts opp_id  opp_pts
0  194611010TRH 1946-11-01     TRH           L   66    NYK       68
1  194611010TRH 1946-11-01     NYK           W   68    TRH       66
2  194611020CHS 1946-11-02     CHS           W   63    NYK       47
3  194611020CHS 1946-11-02     NYK           L   47    CHS       63
4  194611020DTF 1946-11-02     DTF           L   33    WSC       50

### FILTER FOR PLAYOFF TABLE

In [12]:
playoff_data = ello_data[ello_data.is_playoffs == 1]

In [13]:
playoff_data['date_game'] = playoff_data['date_game'].astype(str)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
playoff_data.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
662,332,194704020CLR,NBA,0,1947,1947-04-02,61,1,CLR,Rebels,...,41.518227,NYK,Knicks,51,1332.1560,1316.3640,H,W,0.581291,NaN
663,332,194704020CLR,NBA,1,1947,1947-04-02,61,1,NYK,Knicks,...,42.715511,CLR,Rebels,77,1289.1487,1304.9407,A,L,0.418709,NaN
664,333,194704020GSW,NBA,1,1947,1947-04-02,62,1,STB,Bombers,...,47.769810,PHW,Warriors,73,1389.9673,1394.2438,A,L,0.333149,NaN
665,333,194704020GSW,NBA,0,1947,1947-04-02,61,1,PHW,Warriors,...,50.698528,STB,Bombers,68,1369.4114,1365.1349,H,W,0.666851,NaN
666,334,194704020WSC,NBA,0,1947,1947-04-02,61,1,WSC,Capitols,...,59.611252,CHS,Stags,81,1386.6256,1413.9667,H,L,0.791843,NaN

In [15]:
playoff_data = playoff_data[['game_id', 'date_game', 'team_id', 'game_result', 'pts',
                            'opp_id', 'opp_pts']]

In [16]:
playoff_data.head()

          game_id   date_game team_id game_result  pts opp_id  opp_pts
662  194704020CLR  1947-04-02     CLR           W   77    NYK       51
663  194704020CLR  1947-04-02     NYK           L   51    CLR       77
664  194704020GSW  1947-04-02     STB           L   68    PHW       73
665  194704020GSW  1947-04-02     PHW           W   73    STB       68
666  194704020WSC  1947-04-02     WSC           L   65    CHS       81

### FILTER FOR TEAM TABLE

In [17]:
team_data = ello_data.drop_duplicates(subset=['team_id', 'fran_id', 'lg_id', 'year_id'], keep='last')

In [18]:
team_data = team_data[['team_id', 'fran_id', 'lg_id', 'year_id']]

In [19]:
team_data.head()

    team_id       fran_id lg_id  year_id
640     PIT       Ironmen   NBA     1947
648     DTF       Falcons   NBA     1947
649     TRH       Huskies   NBA     1947
651     PRO  Steamrollers   NBA     1947
657     BOS       Celtics   NBA     1947

In [20]:
team_data.shape

(1487, 4)

In [21]:
# team_data['lg_id'].unique()

In [22]:
# ello_data.dtypes

### CONNECT TO DATABSE

In [23]:
conn = pymysql.connect(host = '34.68.154.83', port = 10596, user = 'aarondm-rw', 
                      passwd = '67de44afc0828ecd6f683dfa488aa797'
#                        , db = 'mysql'
                      , cursorclass = pymysql.cursors.DictCursor)

curr = conn.cursor()

In [24]:
# curr.execute("CREATE DATABASE nba_project")

In [25]:
curr.execute("SHOW DATABASES")

for x in curr:
  print(x)

{'Database': 'employee_training'}
{'Database': 'information_schema'}
{'Database': 'library_circulation'}
{'Database': 'mars'}
{'Database': 'mindful_michigan'}
{'Database': 'mysql'}
{'Database': 'nba_project'}
{'Database': 'newspaper_website'}
{'Database': 'performance_schema'}
{'Database': 'ro_company1'}
{'Database': 'ro_employees'}
{'Database': 'ro_query'}
{'Database': 'ro_recipes'}
{'Database': 'ro_research1'}
{'Database': 'ro_twitter'}
{'Database': 'sakila'}
{'Database': 'sys'}
{'Database': 'world'}

### CREATE TABLE COLUMN NAMES

In [29]:
team = "name, franchise_name, league, year"

In [31]:
forecast = "team_name, game_date, game_result, elo_before_game, elo_after_game, future_prediction"

In [33]:
game = "game_id, date, home_team_name, result_home_team, home_team_pts, away_team_name, away_team_pts"

In [35]:
playoff = "playoff_game_id, date, home_team_name, result_home_team, home_team_pts, away_team_name, away_team_pts"

### CREATE FUNCTION TO CREATE TABLES

In [37]:
def create_tables():
    
    conn = pymysql.connect(host = '34.68.154.83', port = 10596, user = 'aarondm-rw', 
                      passwd = '67de44afc0828ecd6f683dfa488aa797'
#                        , db = 'mysql'
                      , cursorclass = pymysql.cursors.DictCursor)
#     con = authenticate()
    cur = conn.cursor()

    with conn:
        cur.execute("USE nba_project;")
        
        cur.execute(
            
        """CREATE TABLE game (
        id INT AUTO_INCREMENT PRIMARY KEY,
        game_id CHAR(15) NOT NULL,
        date DATE NOT NULL,
        home_team_name VARCHAR(3) NOT NULL,
        result_home_team VARCHAR(1) NOT NULL,
        home_team_pts INT NOT NULL,
        away_team_name VARCHAR(3) NOT NULL,
        away_team_pts INT NOT NULL
        )"""
            
        )

        cur.execute(
            
        """CREATE TABLE playoff (
        id INT AUTO_INCREMENT PRIMARY KEY,
        playoff_game_id INT,
        date DATE NOT NULL,
        home_team_name VARCHAR(3) NOT NULL,
        result_home_team VARCHAR(1) NOT NULL,
        home_team_pts INT NOT NULL,
        away_team_name VARCHAR(3) NOT NULL,
        away_team_pts INT NOT NULL,
        FOREIGN KEY (playoff_game_id) REFERENCES game (id) ON DELETE CASCADE 
        )"""
            
        )

        cur.execute(
        
        """CREATE TABLE team (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(3) NOT NULL,
        franchise_name CHAR(15) NOT NULL, 
        league VARCHAR(3) NOT NULL,
        year INT NOT NULL
        )"""
            
        )
        
        
        cur.execute(
            
        """CREATE TABLE forecast (
        id INT AUTO_INCREMENT PRIMARY KEY,
        team_name VARCHAR(3) NOT NULL,
        game_date DATE NOT NULL,
        game_result VARCHAR(1) NOT NULL,
        elo_before_game FLOAT NOT NULL,
        elo_after_game FLOAT NOT NULL,
        future_prediction FLOAT NOT NULL
        )"""
            
        )
        
    
    cur.close()
    conn.close()

### CREATE FUNCTION TO INSERT DATA INTO COLUMNS
##### DEREK BRUCKNER POINTED OUT A COUPLE RESOURCES TO HELP ME HERE

In [40]:
def insert_data(table_name, cols, database):
    
    conn = pymysql.connect(host = '34.68.154.83', port = 10596, user = 'aarondm-rw', 
                      passwd = '67de44afc0828ecd6f683dfa488aa797'
                      , cursorclass = pymysql.cursors.DictCursor)

    with conn:
        cur = conn.cursor()

        cur.execute("USE nba_project;")
        
        count = 0
        
        for index, row in database.iterrows():
            
            count += 1
            
            if table_name == 'playoff':
                
                print(row)
                                
                sql = """INSERT INTO playoff(playoff_game_id, date, home_team_name, result_home_team, home_team_pts, 
                away_team_name, away_team_pts) VALUES ((SELECT id FROM game WHERE game_id = %s AND home_team_name = %s
                AND id IS NOT NULL), %s, %s, %s, %s, %s, %s)"""
                
                variables = [row[0], row[2], row[1], row[2], row[3], row[4], row[5], row[6]]
                
#                 print(variables)
                
                
                cur.execute(sql, variables)
            
                if count == 99:
                    break 


            else:
            
                sql = 'INSERT INTO ' + str(table_name)+ '(' + cols + ') VALUES' + str(tuple(row))
            
#             print(sql)

                cur.execute(sql)
            
                if count == 1500:
                    break 

        insertion = cur.fetchall()
        
        conn.commit()
        
    cur.close()
    conn.close()

    print(insertion)

In [43]:
create_tables()

In [44]:
insert_data('game', game, game_data)

()

In [45]:
insert_data('team', team, team_data)

()

In [46]:
insert_data('playoff', playoff, playoff_data)

game_id        194704020CLR
date_game        1947-04-02
team_id                 CLR
game_result               W
pts                      77
opp_id                  NYK
opp_pts                  51
Name: 662, dtype: object
['194704020CLR', 'CLR', '1947-04-02', 'CLR', 'W', 77, 'NYK', 51]
game_id        194704020CLR
date_game        1947-04-02
team_id                 NYK
game_result               L
pts                      51
opp_id                  CLR
opp_pts                  77
Name: 663, dtype: object
['194704020CLR', 'NYK', '1947-04-02', 'NYK', 'L', 51, 'CLR', 77]
game_id        194704020GSW
date_game        1947-04-02
team_id                 STB
game_result               L
pts                      68
opp_id                  PHW
opp_pts                  73
Name: 664, dtype: object
['194704020GSW', 'STB', '1947-04-02', 'STB', 'L', 68, 'PHW', 73]
game_id        194704020GSW
date_game        1947-04-02
team_id                 PHW
game_result               W
pts                      73
opp_id                  STB
opp_pts                  68
Name: 665, dtype: object
['194704020GSW', 'PHW', '1947-04-02', 'PHW', 'W', 73, 'STB', 68]
game_id        194704020WSC
date_game        1947-04-02
team_id                 WSC
game_result               L
pts                      65
opp_id                  CHS
opp_pts                  81
Name: 666, dtype: object
['194704020WSC', 'WSC', '1947-04-02', 'WSC', 'L', 65, 'CHS', 81]
game_id        194704020WSC
date_game        1947-04-02
team_id                 CHS
game_result               W
pts                      81
opp_id                  WSC
opp_pts                  65
Name: 667, dtype: object
['194704020WSC', 'CHS', '1947-04-02', 'CHS', 'W', 81, 'WSC', 65]
game_id        194704030WSC
date_game        1947-04-03
team_id                 CHS
game_result               W
pts                      69
opp_id                  WSC
opp_pts                  53
Name: 668, dtype: object
['194704030WSC', 'CHS', '1947-04-03', 'CHS', 'W', 69, 'WSC', 53]
game_id        194704030WSC
date_game        1947-04-03
team_id                 WSC
game_result               L
pts                      53
opp_id                  CHS
opp_pts                  69
Name: 669, dtype: object
['194704030WSC', 'WSC', '1947-04-03', 'WSC', 'L', 53, 'CHS', 69]
game_id        194704050NYK
date_game        1947-04-05
team_id                 NYK
game_result               W
pts                      86
opp_id                  CLR
opp_pts                  74
Name: 670, dtype: object
['194704050NYK', 'NYK', '1947-04-05', 'NYK', 'W', 86, 'CLR', 74]
game_id        194704050NYK
date_game        1947-04-05
team_id                 CLR
game_result               L
pts                      74
opp_id                  NYK
opp_pts                  86
Name: 671, dtype: object
['194704050NYK', 'CLR', '1947-04-05', 'CLR', 'L', 74, 'NYK', 86]
game_id        194704050STB
date_game        1947-04-05
team_id                 PHW
game_result               L
pts                      51
opp_id                  STB
opp_pts                  73
Name: 672, dtype: object
['194704050STB', 'PHW', '1947-04-05', 'PHW', 'L', 51, 'STB', 73]
game_id        194704050STB
date_game        1947-04-05
team_id                 STB
game_result               W
pts                      73
opp_id                  PHW
opp_pts                  51
Name: 673, dtype: object
['194704050STB', 'STB', '1947-04-05', 'STB', 'W', 73, 'PHW', 51]
game_id        194704060STB
date_game        1947-04-06
team_id                 PHW
game_result               W
pts                      75
opp_id                  STB
opp_pts                  59
Name: 674, dtype: object
['194704060STB', 'PHW', '1947-04-06', 'PHW', 'W', 75, 'STB', 59]
game_id        194704060STB
date_game        1947-04-06
team_id                 STB
game_result               L
pts                      59
opp_id                  PHW
opp_pts                  75
Name: 675, dtype: object
['194704060STB', 'STB', '1947-04-06', 'STB', 'L', 59, 'PHW', 75]
game_id        194704080CHS
date_game        1947-04-08
team_id                 CHS
game_result               W
pts                      67
opp_id                  WSC
opp_pts                  55
Name: 676, dtype: object
['194704080CHS', 'CHS', '1947-04-08', 'CHS', 'W', 67, 'WSC', 55]
game_id        194704080CHS
date_game        1947-04-08
team_id                 WSC
game_result               L
pts                      55
opp_id                  CHS
opp_pts                  67
Name: 677, dtype: object
['194704080CHS', 'WSC', '1947-04-08', 'WSC', 'L', 55, 'CHS', 67]
game_id        194704090NYK
date_game        1947-04-09
team_id                 NYK
game_result               W
pts                      93
opp_id                  CLR
opp_pts                  71
Name: 678, dtype: object
['194704090NYK', 'NYK', '1947-04-09', 'NYK', 'W', 93, 'CLR', 71]
game_id        194704090NYK
date_game        1947-04-09
team_id                 CLR
game_result               L
pts                      71
opp_id                  NYK
opp_pts                  93
Name: 679, dtype: object
['194704090NYK', 'CLR', '1947-04-09', 'CLR', 'L', 71, 'NYK', 93]
game_id        194704100WSC
date_game        1947-04-10
team_id                 CHS
game_result               L
pts                      69
opp_id                  WSC
opp_pts                  76
Name: 680, dtype: object
['194704100WSC', 'CHS', '1947-04-10', 'CHS', 'L', 69, 'WSC', 76]
game_id        194704100WSC
date_game        1947-04-10
team_id                 WSC
game_result               W
pts                      76
opp_id                  CHS
opp_pts                  69
Name: 681, dtype: object
['194704100WSC', 'WSC', '1947-04-10', 'WSC', 'W', 76, 'CHS', 69]
game_id        194704120CHS
date_game        1947-04-12
team_id                 WSC
game_result               W
pts                      67
opp_id                  CHS
opp_pts                  55
Name: 682, dtype: object
['194704120CHS', 'WSC', '1947-04-12', 'WSC', 'W', 67, 'CHS', 55]
game_id        194704120CHS
date_game        1947-04-12
team_id                 CHS
game_result               L
pts                      55
opp_id                  WSC
opp_pts                  67
Name: 683, dtype: object
['194704120CHS', 'CHS', '1947-04-12', 'CHS', 'L', 55, 'WSC', 67]
game_id        194704120GSW
date_game        1947-04-12
team_id                 NYK
game_result               L
pts                      70
opp_id                  PHW
opp_pts                  82
Name: 684, dtype: object
['194704120GSW', 'NYK', '1947-04-12', 'NYK', 'L', 70, 'PHW', 82]
game_id        194704120GSW
date_game        1947-04-12
team_id                 PHW
game_result               W
pts                      82
opp_id                  NYK
opp_pts                  70
Name: 685, dtype: object
['194704120GSW', 'PHW', '1947-04-12', 'PHW', 'W', 82, 'NYK', 70]
game_id        194704130CHS
date_game        1947-04-13
team_id                 CHS
game_result               W
pts                      66
opp_id                  WSC
opp_pts                  61
Name: 686, dtype: object
['194704130CHS', 'CHS', '1947-04-13', 'CHS', 'W', 66, 'WSC', 61]
game_id        194704130CHS
date_game        1947-04-13
team_id                 WSC
game_result               L
pts                      61
opp_id                  CHS
opp_pts                  66
Name: 687, dtype: object
['194704130CHS', 'WSC', '1947-04-13', 'WSC', 'L', 61, 'CHS', 66]
game_id        194704140NYK
date_game        1947-04-14
team_id                 PHW
game_result               W
pts                      72
opp_id                  NYK
opp_pts                  53
Name: 688, dtype: object
['194704140NYK', 'PHW', '1947-04-14', 'PHW', 'W', 72, 'NYK', 53]
game_id        194704140NYK
date_game        1947-04-14
team_id                 NYK
game_result               L
pts                      53
opp_id                  PHW
opp_pts                  72
Name: 689, dtype: object
['194704140NYK', 'NYK', '1947-04-14', 'NYK', 'L', 53, 'PHW', 72]
game_id        194704160GSW
date_game        1947-04-16
team_id                 PHW
game_result               W
pts                      84
opp_id                  CHS
opp_pts                  71
Name: 690, dtype: object
['194704160GSW', 'PHW', '1947-04-16', 'PHW', 'W', 84, 'CHS', 71]
game_id        194704160GSW
date_game        1947-04-16
team_id                 CHS
game_result               L
pts                      71
opp_id                  PHW
opp_pts                  84
Name: 691, dtype: object
['194704160GSW', 'CHS', '1947-04-16', 'CHS', 'L', 71, 'PHW', 84]
game_id        194704170GSW
date_game        1947-04-17
team_id                 PHW
game_result               W
pts                      85
opp_id                  CHS
opp_pts                  74
Name: 692, dtype: object
['194704170GSW', 'PHW', '1947-04-17', 'PHW', 'W', 85, 'CHS', 74]
game_id        194704170GSW
date_game        1947-04-17
team_id                 CHS
game_result               L
pts                      74
opp_id                  PHW
opp_pts                  85
Name: 693, dtype: object
['194704170GSW', 'CHS', '1947-04-17', 'CHS', 'L', 74, 'PHW', 85]
game_id        194704190CHS
date_game        1947-04-19
team_id                 CHS
game_result               L
pts                      72
opp_id                  PHW
opp_pts                  75
Name: 694, dtype: object
['194704190CHS', 'CHS', '1947-04-19', 'CHS', 'L', 72, 'PHW', 75]
game_id        194704190CHS
date_game        1947-04-19
team_id                 PHW
game_result               W
pts                      75
opp_id                  CHS
opp_pts                  72
Name: 695, dtype: object
['194704190CHS', 'PHW', '1947-04-19', 'PHW', 'W', 75, 'CHS', 72]
game_id        194704200CHS
date_game        1947-04-20
team_id                 PHW
game_result               L
pts                      73
opp_id                  CHS
opp_pts                  74
Name: 696, dtype: object
['194704200CHS', 'PHW', '1947-04-20', 'PHW', 'L', 73, 'CHS', 74]
game_id        194704200CHS
date_game        1947-04-20
team_id                 CHS
game_result               W
pts                      74
opp_id                  PHW
opp_pts                  73
Name: 697, dtype: object
['194704200CHS', 'CHS', '1947-04-20', 'CHS', 'W', 74, 'PHW', 73]
game_id        194704220GSW
date_game        1947-04-22
team_id                 CHS
game_result               L
pts                      80
opp_id                  PHW
opp_pts                  83
Name: 698, dtype: object
['194704220GSW', 'CHS', '1947-04-22', 'CHS', 'L', 80, 'PHW', 83]
game_id        194704220GSW
date_game        1947-04-22
team_id                 PHW
game_result               W
pts                      83
opp_id                  CHS
opp_pts                  80
Name: 699, dtype: object
['194704220GSW', 'PHW', '1947-04-22', 'PHW', 'W', 83, 'CHS', 80]
game_id        194803230CHS
date_game        1948-03-23
team_id                 WSC
game_result               L
pts                      70
opp_id                  CHS
opp_pts                  74
Name: 1084, dtype: object
['194803230CHS', 'WSC', '1948-03-23', 'WSC', 'L', 70, 'CHS', 74]
game_id        194803230CHS
date_game        1948-03-23
team_id                 CHS
game_result               W
pts                      74
opp_id                  WSC
opp_pts                  70
Name: 1085, dtype: object
['194803230CHS', 'CHS', '1948-03-23', 'CHS', 'W', 74, 'WSC', 70]
game_id        194803230STB
date_game        1948-03-23
team_id                 STB
game_result               W
pts                      60
opp_id                  PHW
opp_pts                  58
Name: 1086, dtype: object
['194803230STB', 'STB', '1948-03-23', 'STB', 'W', 60, 'PHW', 58]
game_id        194803230STB
date_game        1948-03-23
team_id                 PHW
game_result               L
pts                      58
opp_id                  STB
opp_pts                  60
Name: 1087, dtype: object
['194803230STB', 'PHW', '1948-03-23', 'PHW', 'L', 58, 'STB', 60]
game_id        194803250CHS
date_game        1948-03-25
team_id                 BLB
game_result               W
pts                      75
opp_id                  CHS
opp_pts                  72
Name: 1088, dtype: object
['194803250CHS', 'BLB', '1948-03-25', 'BLB', 'W', 75, 'CHS', 72]
game_id        194803250CHS
date_game        1948-03-25
team_id                 CHS
game_result               L
pts                      72
opp_id                  BLB
opp_pts                  75
Name: 1089, dtype: object
['194803250CHS', 'CHS', '1948-03-25', 'CHS', 'L', 72, 'BLB', 75]
game_id        194803250STB
date_game        1948-03-25
team_id                 STB
game_result               L
pts                      64
opp_id                  PHW
opp_pts                  65
Name: 1090, dtype: object
['194803250STB', 'STB', '1948-03-25', 'STB', 'L', 64, 'PHW', 65]
game_id        194803250STB
date_game        1948-03-25
team_id                 PHW
game_result               W
pts                      65
opp_id                  STB
opp_pts                  64
Name: 1091, dtype: object
['194803250STB', 'PHW', '1948-03-25', 'PHW', 'W', 65, 'STB', 64]
game_id        194803270BLB
date_game        1948-03-27
team_id                 BLB
game_result               W
pts                      85
opp_id                  NYK
opp_pts                  81
Name: 1092, dtype: object
['194803270BLB', 'BLB', '1948-03-27', 'BLB', 'W', 85, 'NYK', 81]
game_id        194803270BLB
date_game        1948-03-27
team_id                 NYK
game_result               L
pts                      81
opp_id                  BLB
opp_pts                  85
Name: 1093, dtype: object
['194803270BLB', 'NYK', '1948-03-27', 'NYK', 'L', 81, 'BLB', 85]
game_id        194803270GSW
date_game        1948-03-27
team_id                 PHW
game_result               W
pts                      84
opp_id                  STB
opp_pts                  56
Name: 1094, dtype: object
['194803270GSW', 'PHW', '1948-03-27', 'PHW', 'W', 84, 'STB', 56]
game_id        194803270GSW
date_game        1948-03-27
team_id                 STB
game_result               L
pts                      56
opp_id                  PHW
opp_pts                  84
Name: 1095, dtype: object
['194803270GSW', 'STB', '1948-03-27', 'STB', 'L', 56, 'PHW', 84]
game_id        194803280BOS
date_game        1948-03-28
team_id                 CHS
game_result               W
pts                      79
opp_id                  BOS
opp_pts                  72
Name: 1096, dtype: object
['194803280BOS', 'CHS', '1948-03-28', 'CHS', 'W', 79, 'BOS', 72]
game_id        194803280BOS
date_game        1948-03-28
team_id                 BOS
game_result               L
pts                      72
opp_id                  CHS
opp_pts                  79
Name: 1097, dtype: object
['194803280BOS', 'BOS', '1948-03-28', 'BOS', 'L', 72, 'CHS', 79]
game_id        194803280NYK
date_game        1948-03-28
team_id                 BLB
game_result               L
pts                      69
opp_id                  NYK
opp_pts                  79
Name: 1098, dtype: object
['194803280NYK', 'BLB', '1948-03-28', 'BLB', 'L', 69, 'NYK', 79]
game_id        194803280NYK
date_game        1948-03-28
team_id                 NYK
game_result               W
pts                      79
opp_id                  BLB
opp_pts                  69
Name: 1099, dtype: object
['194803280NYK', 'NYK', '1948-03-28', 'NYK', 'W', 79, 'BLB', 69]
game_id        194803300GSW
date_game        1948-03-30
team_id                 STB
game_result               W
pts                      56
opp_id                  PHW
opp_pts                  51
Name: 1100, dtype: object
['194803300GSW', 'STB', '1948-03-30', 'STB', 'W', 56, 'PHW', 51]
game_id        194803300GSW
date_game        1948-03-30
team_id                 PHW
game_result               L
pts                      51
opp_id                  STB
opp_pts                  56
Name: 1101, dtype: object
['194803300GSW', 'PHW', '1948-03-30', 'PHW', 'L', 51, 'STB', 56]
game_id        194803310BOS
date_game        1948-03-31
team_id                 BOS
game_result               W
pts                      81
opp_id                  CHS
opp_pts                  77
Name: 1102, dtype: object
['194803310BOS', 'BOS', '1948-03-31', 'BOS', 'W', 81, 'CHS', 77]
game_id        194803310BOS
date_game        1948-03-31
team_id                 CHS
game_result               L
pts                      77
opp_id                  BOS
opp_pts                  81
Name: 1103, dtype: object
['194803310BOS', 'CHS', '1948-03-31', 'CHS', 'L', 77, 'BOS', 81]
game_id        194804010BLB
date_game        1948-04-01
team_id                 NYK
game_result               L
pts                      77
opp_id                  BLB
opp_pts                  84
Name: 1104, dtype: object
['194804010BLB', 'NYK', '1948-04-01', 'NYK', 'L', 77, 'BLB', 84]
game_id        194804010BLB
date_game        1948-04-01
team_id                 BLB
game_result               W
pts                      84
opp_id                  NYK
opp_pts                  77
Name: 1105, dtype: object
['194804010BLB', 'BLB', '1948-04-01', 'BLB', 'W', 84, 'NYK', 77]
game_id        194804010STB
date_game        1948-04-01
team_id                 STB
game_result               W
pts                      69
opp_id                  PHW
opp_pts                  62
Name: 1106, dtype: object
['194804010STB', 'STB', '1948-04-01', 'STB', 'W', 69, 'PHW', 62]
game_id        194804010STB
date_game        1948-04-01
team_id                 PHW
game_result               L
pts                      62
opp_id                  STB
opp_pts                  69
Name: 1107, dtype: object
['194804010STB', 'PHW', '1948-04-01', 'PHW', 'L', 62, 'STB', 69]
game_id        194804020BOS
date_game        1948-04-02
team_id                 BOS
game_result               L
pts                      74
opp_id                  CHS
opp_pts                  81
Name: 1108, dtype: object
['194804020BOS', 'BOS', '1948-04-02', 'BOS', 'L', 74, 'CHS', 81]
game_id        194804020BOS
date_game        1948-04-02
team_id                 CHS
game_result               W
pts                      81
opp_id                  BOS
opp_pts                  74
Name: 1109, dtype: object
['194804020BOS', 'CHS', '1948-04-02', 'CHS', 'W', 81, 'BOS', 74]
game_id        194804030GSW
date_game        1948-04-03
team_id                 PHW
game_result               W
pts                      84
opp_id                  STB
opp_pts                  61
Name: 1110, dtype: object
['194804030GSW', 'PHW', '1948-04-03', 'PHW', 'W', 84, 'STB', 61]
game_id        194804030GSW
date_game        1948-04-03
team_id                 STB
game_result               L
pts                      61
opp_id                  PHW
opp_pts                  84
Name: 1111, dtype: object
['194804030GSW', 'STB', '1948-04-03', 'STB', 'L', 61, 'PHW', 84]
game_id        194804060STB
date_game        1948-04-06
team_id                 STB
game_result               L
pts                      46
opp_id                  PHW
opp_pts                  85
Name: 1112, dtype: object
['194804060STB', 'STB', '1948-04-06', 'STB', 'L', 46, 'PHW', 85]
game_id        194804060STB
date_game        1948-04-06
team_id                 PHW
game_result               W
pts                      85
opp_id                  STB
opp_pts                  46
Name: 1113, dtype: object
['194804060STB', 'PHW', '1948-04-06', 'PHW', 'W', 85, 'STB', 46]
game_id        194804070CHS
date_game        1948-04-07
team_id                 BLB
game_result               W
pts                      73
opp_id                  CHS
opp_pts                  67
Name: 1114, dtype: object
['194804070CHS', 'BLB', '1948-04-07', 'BLB', 'W', 73, 'CHS', 67]
game_id        194804070CHS
date_game        1948-04-07
team_id                 CHS
game_result               L
pts                      67
opp_id                  BLB
opp_pts                  73
Name: 1115, dtype: object

In [47]:
insert_data('forecast', forecast, forecast_data)

()